<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onClickOptions('list')">
      <mat-icon>list</mat-icon>
      <span>Lista de heroes</span>
    </button>
    <button mat-menu-item (click)="onClickOptions('add')">
      <mat-icon>add_circle</mat-icon>
      <span>Agregar heroe</span>
    </button>
    <button mat-menu-item (click)="onClickOptions('reset')">
      <mat-icon>restart_alt</mat-icon>
      <span>Reset</span>
    </button>
  </mat-menu>
  <span>Heroes</span>
  <span class="example-spacer"></span>
</mat-toolbar>